html[lang="en-US"] {
  .visual-editor-title:before {
    content: "Visual editor";
  }
  .btn-remove:before {
    content: "Delete";
  }
  .btn-add:before {
    content: "Add item";
  }
  .root::before {
    content: "New root level fields";
  }
  .json-error:before {
    content: "JSON format error";
  }
  .yaml-transfer-error:before {
    content: "YAML Conversion Error";
  }
  .yaml-extract-error:before {
    content: "YAML parsing error";
  }
  .auto-save-success:before {
    content: "Automatically saved";
  }
  .auto-save-error:before {
    content: "Storage Error";
  }
  .load-error:before {
    content: "Read Error";
  }
}
