html[lang="id-ID"] {
  .visual-editor-title:before {
    content: "Editor visual";
  }
  .btn-remove:before {
    content: "Menghapus";
  }
  .btn-add:before {
    content: "Tambahkan item";
  }
  .root::before {
    content: "Bidang tingkat akar baru";
  }
  .json-error:before {
    content: "Kesalahan format JSON";
  }
  .yaml-transfer-error:before {
    content: "Kesalahan format JSON";
  }
  .yaml-extract-error:before {
    content: "Kesalahan penguraian YAML";
  }
  .auto-save-success:before {
    content: "Penyimpanan otomatis berhasil";
  }
  .auto-save-error:before {
    content: "Penyimpanan otomatis Gagal";
  }
  .load-error:before {
    content: "Kesalahan Baca";
  }
}
