html[lang="id-ID"] {
  .visual-editor-title:before {
    content: "Editor visual" !important;
  }
  .btn-remove:before {
    content: "Menghapus" !important;
  }
  .btn-add:before {
    content: "Tambahkan item" !important;
  }
  .root::before {
    content: "Bidang tingkat akar baru" !important;
  }
  .json-error:before {
    content: "Kesalahan format JSON" !important;
  }
  .yaml-transfer-error:before {
    content: "Kesalahan format JSON" !important;
  }
  .yaml-extract-error:before {
    content: "Kesalahan penguraian YAML" !important;
  }
  .auto-save-success:before {
    content: "Penyimpanan otomatis berhasil" !important;
  }
  .auto-save-error:before {
    content: "Penyimpanan otomatis Gagal" !important;
  }
  .load-error:before {
    content: "Kesalahan Baca" !important;
  }
}
