@import url("./rwd.css");

/** Info Box **/
html[lang="zh-CN"] .cancel-body span::before {
  content: "此地震速报已取消" !important;
}

html[lang="zh-CN"] .no-eew.rts-trigger-low .info-unit::after {
  content: "弱反应 " !important;
}

html[lang="zh-CN"] .no-eew.rts-trigger-middle .info-unit::after {
  content: "震动检测 " !important;
}

html[lang="zh-CN"] .no-eew.rts-trigger-high .info-unit::after {
  content: "强震检测 " !important;
}

html[lang="zh-CN"] .eew-warn .info-unit::before {
  content: "地震速报 " !important;
}

html[lang="zh-CN"] .eew-alert .info-unit::before {
  content: "紧急地震速报 " !important;
}

html[lang="zh-CN"] .eew-rts .info-unit::before {
  content: "单点地震检测 " !important;
}

html[lang="zh-CN"] .info-number-last::after {
  content: "报(最终报)" !important;
}

html[lang="zh-CN"] .no-eew .info-unit::after {
  content: "暂无生效中的地震预警" !important;
}

html[lang="zh-CN"] .info-intensity::after {
  content: "预估最大震度" !important;
}

html[lang="zh-CN"] .info-nsspe span::before {
  content: "NSSPE 无震源参数推算" !important;
}

html[lang="zh-CN"] .info-time::after {
  content: "发震" !important;
}

html[lang="zh-CN"] .info-mag-text::after,
html[lang="zh-CN"] .report-box-item-wrapper:first-child .report-mag-text::after {
  content: "规模" !important;
}

html[lang="zh-CN"] .intensity-report::before {
  content: "震度速报" !important;
}

html[lang="zh-CN"] .source-report::before {
  content: "震源速报" !important;
}

html[lang="zh-CN"] .earthquake-report::before {
  content: "地震报告" !important;
}

html[lang="zh-CN"] .tsunami-warning::before {
  content: "海啸警报" !important;
}

html[lang="zh-CN"] .earthquake-warning::before {
  content: "地震速报" !important;
}

/** Report **/
html[lang="zh-CN"] .report-intensity-text {
  font-size: 12px;
}

html[lang="zh-CN"] .report-intensity-text::before {
  content: "观测最大震度" !important;
}

html[lang="zh-CN"] .web-detection::before {
  content: "检知" !important;
}

html[lang="zh-CN"] .web-report::before {
  content: "报告" !important;
}

html[lang="zh-CN"] .report-replay::before {
  content: "重播" !important;
}

html[lang="zh-CN"] .report-box-items .survey .report-loc:before {
  content: "震源调查中" !important;
}

html[lang="zh-CN"] .max-intensity-text::before {
  content: "最大观测震度" !important;
}

/** Warning Message Box **/
html[lang="zh-CN"] .internet-error .title:before {
  content: "网路异常" !important;
}

html[lang="zh-CN"] .unstable .title:before {
  content: "不稳定" !important;
}

html[lang="zh-CN"] .unstable .warning-message-text span:nth-child(1)::before {
  content: "受地震活动的影响" !important;
}

html[lang="zh-CN"] .unstable .warning-message-text span:nth-child(2)::before {
  content: "观测点可能不稳定" !important;
}

html[lang="zh-CN"] .internet-error .warning-message-text span:nth-child(1)::before {
  content: "网路连线异常" !important;
}

html[lang="zh-CN"] .internet-error .warning-message-text span:nth-child(2)::before {
  content: "请待稍后重试" !important;
}

/** Count Down Plugin **/
html[lang="zh-CN"] .current-location-pwave-text:before {
  content: "P波" !important;
}

html[lang="zh-CN"] .current-location-swave-text:before {
  content: "S波" !important;
}

html[lang="zh-CN"] .current-location-pwave-val.arrive:before,
html[lang="zh-CN"] .current-location-swave-val.arrive:before {
  content: "到达" !important;
}

html[lang="zh-CN"] .current-location-pwave-val:not(:empty):after,
html[lang="zh-CN"] .current-location-swave-val:not(:empty):after {
  content: "秒" !important;
}

html[lang="zh-CN"] .current-location-intensity-text:before {
  content: "震度" !important;
}