@import url("./rwd.css");

html[lang="th-TH"] {
  .version-check-text::before {
    content: "เวอร์ชั่นใหม่" !important;
  }

  .info-number {
    &:not(:empty)::before {
      content: "หมายเลข " !important;
    }
    &:not(:empty)::after {
      content: "" !important;
    }
  }

  .cancel-title span::before {
    content: "ยกเลิก" !important;
  }

  .cancel-body span::before {
    content: "This earthquake warning canceled." !important;
  }

  .no-eew.rts-trigger-low .info-unit::after {
    content: "ต่ำ " !important;
  }

  .no-eew.rts-trigger-middle .info-unit::after {
    content: "การตอบสนองแผ่นดินไหวที่อ่อนแอ " !important;
  }

  .no-eew.rts-trigger-high .info-unit::after {
    content: "การตรวจจับแผ่นดินไหวที่แข็งแกร่ง " !important;
  }

  .eew-cancel .info-unit::before {
    content: "ยกเลิก " !important;
  }

  .eew-warn .info-unit::before {
    content: "คำเตือน " !important;
  }

  .eew-alert .info-unit::before {
    content: "การแจ้งเตือน " !important;
  }

  .eew-rts .info-unit::before {
    content: "การตรวจจับแผ่นดินไหวแบบจุดเดียว " !important;
  }

  .info-cancel-last::after {
    content: "(ยกเลิก)" !important;
  }

  .info-number-last::after {
    content: "(สุดท้าย)" !important;
  }

  .no-eew .info-unit::after {
    content: "ขณะนี้ไม่มีการเตือนแผ่นดินไหว" !important;
  }

  .info-intensity::after {
    content: "นแรงของสูงสุด" !important;
  }

  .info-nsspe span::before {
    content: "NSSPE" !important;
  }

  .info-mag-text::after,
  .report-box-item-wrapper:first-child .report-mag-text::after {
    content: "ขนาด" !important;
  }

  .info-depth-text::after,
  .report-depth-text::after {
    content: "ลึก" !important;
  }

  .current-station-intensity-text::before {
    content: "ความรุนแรงของ" !important;
  }
  .current-station-pga-text::before {
    content: "PGA" !important;
  }

  .intensity-report::before {
    content: "รายงานความรุนแรงของ" !important;
  }

  .source-report::before {
    content: "รายงานศูนย์เกิดแผ่นดินไหว" !important;
  }

  .earthquake-report::before {
    content: "รายงานแผ่นดินไหว" !important;
  }

  .tsunami-warning::before {
    content: "การเตือนภัยสึนามิ" !important;
  }

  .earthquake-warning::before {
    content: "คำเตือนแผ่นดินไหว" !important;
  }

  .report-intensity-text::before {
    content: "ความรุนแรงของสูงสุด" !important;
  }

  .web-detection::before {
    content: "การตรวจจับ" !important;
  }

  .web-report::before {
    content: "รายงาน" !important;
  }

  .report-replay::before {
    content: "รีเพลย์" !important;
  }

  .report-box-items .survey .report-loc:before {
    content: "ศูนย์กลางของแผ่นดินไหวอยู่ระหว่างการประเมิน" !important;
    font-size: 19px;
  }

  .rts-intenisty-list-text::before {
    content: "จัดอันดับความรุนแรงของตามภูมิภาค" !important;
  }

  .max-intensity-text::before {
    content: "ความรุนแรงของสูงสุด" !important;
  }

  .max-pga-text::before {
    content: "รงของสูงสุดพีจีเอ" !important;
  }

  .internet-error .title:before {
    content: "ข้อผิดพลาดการเชื่อมต่อเครือข่าย" !important;
  }

  .unstable .title:before {
    content: "ไม่มั่นคง" !important;
  }

  .unstable .warning-message-text span {
    &:nth-child(1)::before {
      content: "จุดสังเกตอาจไม่มั่นคง" !important;
    }
    &:nth-child(2)::before {
      content: "เนื่องจากกิจกรรมแผ่นดินไหว" !important;
    }
  }

  .internet-error .warning-message-text span {
    &:nth-child(1)::before {
      content: "ข้อผิดพลาดในการเชื่อมต่อเครือข่าย" !important;
    }
    &:nth-child(2)::before {
      content: "โปรดลองอีกครั้งในภายหลัง" !important;
    }
  }
}
