@media (max-width: 980px) {
  html[lang="th-TH"] .info-intensity::after {
    content: "Est. maximum" !important;
  }

  html[lang="th-TH"] .report-box-item-wrapper:first-child .report-intensity-text {
    font-size: 11px !important;
  }

  html[lang="th-TH"] .report-intensity-val {
    height: 40px !important;
    width: 43px !important;
  }

  html[lang="th-TH"] .current-station-info {
    width: auto !important;
  }

  html[lang="th-TH"] .current-station-pga {
    width: 162px !important;
  }

  html[lang="th-TH"] .max-intensity {
    width: 76px;
  }

  html[lang="th-TH"] .report-wrapper.hidden~.rts-intensity-list-wrapper {
    transform: translateX(130%) !important;
  }

  html[lang="th-TH"] .report-box-item-wrapper.survey:first-child .report-loc {
    font-size: 19px !important;
  }

  html[lang="th-TH"] .max-pga {
    width: 95px;
  }

  html[lang="th-TH"] .max-intensity-pga-wrapper {
    top: 13.5rem !important;
  }
}