html[lang="tl-PH"] .visual-editor-title:before {
  content: "Visual editor" !important;
}

html[lang="tl-PH"] .btn-remove:before {
  content: "Tanggalin" !important;
}

html[lang="tl-PH"] .btn-add:before {
  content: "Magdagdag ng item" !important;
}

html[lang="tl-PH"] .root::before {
  content: "Mga bagong patlang sa antas ng ugat" !important;
}

html[lang="tl-PH"] .json-error:before {
  content: "Error sa format ng JSON" !important;
}

html[lang="tl-PH"] .yaml-transfer-error:before {
  content: "Error sa Conversion ng YAML" !important;
}

html[lang="tl-PH"] .yaml-extract-error:before {
  content: "Error sa pag-parse ng YAML" !important;
}

html[lang="tl-PH"] .auto-save-success:before {
  content: "Matagumpay ang auto save" !important;
}

html[lang="tl-PH"] .auto-save-error:before {
  content: "Auto save Failure" !important;
}

html[lang="tl-PH"] .load-error:before {
  content: "Read Error" !important;
}