@import url("./rwd.css");

html[lang="id-ID"] {
  /** Version Check **/
  .version-check-text::before {
    content: "Versi baru" !important;
  }

  /** Info Box **/
  .info-number {
    &:not(:empty)::before {
      content: "#" !important;
    }
    &:not(:empty)::after {
      content: "" !important;
    }
  }

  .cancel-title span::before {
    content: "Batal" !important;
  }

  .cancel-body span::before {
    content: "Peringatan gempa bumi ini dibatalkan." !important;
  }

  .no-eew.rts-trigger-low .info-unit::after {
    content: "Rendah " !important;
  }

  .no-eew.rts-trigger-middle .info-unit::after {
    content: "Respons seismik yang lebih lemah " !important;
  }

  .no-eew.rts-trigger-high .info-unit::after {
    content: "Deteksi gempa bumi yang kuat " !important;
  }

  .eew-cancel .info-unit::before {
    content: "Membatalkan " !important;
  }

  .eew-warn .info-unit::before {
    content: "Peringatan " !important;
  }

  .eew-alert .info-unit::before {
    content: "Peringatan peringatan " !important;
  }

  .eew-rts .info-unit::before {
    content: "Deteksi gempa titik tunggal " !important;
  }

  .info-cancel-last::after {
    content: "(Membatalkan)" !important;
  }

  .info-number-last::after {
    content: "(Akhir)" !important;
  }

  .no-eew .info-unit::after {
    content: "Tidak ada peringatan dini gempa bumi" !important;
  }

  .info-intensity::after {
    content: "memperkirakan" !important;
  }

  .info-nsspe span::before {
    content: "NSSPE" !important;
  }

  .info-mag-text::after,
  .report-box-item-wrapper:first-child .report-mag-text::after {
    content: "Mag." !important;
  }

  .info-depth-text::after,
  .report-depth-text::after {
    content: "Keda." !important;
  }

  .intensity-0:not(
      #max-intensity,
      #max-pga,
      #current-station-intensity,
      .rts-intensity
    )::after {
    content: "?";
  }

  .info-time::after {
    content: " Terjadi";
  }

  .info-wrapper {
    .info-title-wrapper {
      .info-intensity {
        font-size: 10px;
      }
    }
  }

  /** Current Station Info **/
  .current-station-intensity-text::before {
    content: "Intensitas" !important;
  }

  .current-station-pga-text::before {
    content: "PGA" !important;
  }

  .max-pga-text::before {
    content: "PGA Maks" !important;
  }

  .max-intensity-text::before {
    content: "Intensitas" !important;
  }

  .station-pga-wrapper {
    left: 7.1rem;
  }

  /** Fab Button **/
  .intensity-report::before {
    content: "Laporan Intensitas" !important;
  }

  .source-report::before {
    content: "Laporan hiposenter gempa bumi" !important;
  }

  .earthquake-report::before {
    content: "Laporan gempa bumi" !important;
  }

  .tsunami-warning::before {
    content: "Peringatan tsunami" !important;
  }

  .earthquake-warning::before {
    content: "Peringatan gempa bumi" !important;
  }

  /** Report **/
  .report-intensity-text::before {
    content: "Intensitas" !important;
  }

  .web-detection::before {
    content: "Deteksi" !important;
  }

  .web-report::before {
    content: "Laporan" !important;
  }

  .report-replay::before {
    content: "Putar ulang" !important;
  }

  .report-box-items .survey .report-loc:before {
    content: "Episentrum yang sedang dikaji" !important;
  }

  .rts-intensity-list-wrapper {
    width: 13rem !important;
  }

  .report-wrapper.hidden ~ .rts-intensity-list-wrapper {
    transform: translateX(153%);
  }

  .report-wrapper {
    .report-box-item-wrapper:first-child {
      .report-intensity-text {
        font-size: 12px;
      }
      .report-info-box {
        .report-info-item {
          .report-loc {
            font-size: 24px;
          }
        }
      }
    }
  }

  /** Intensity List **/
  .rts-intenisty-list-text::before {
    content: "Intensitas di Seluruh Wilayah berdasarkan peringkat" !important;
  }

  /** Warning Message Box **/
  .internet-error .title:before {
    content: "Kesalahan koneksi jaringan" !important;
  }

  .unstable .title:before {
    content: "Tidak stabil" !important;
  }

  .unstable .warning-message-text span {
    &:nth-child(1)::before {
      content: "Titik pengamatan mungkin tidak" !important;
    }
    &:nth-child(2)::before {
      content: "stabil karena aktivitas seismik" !important;
    }
  }

  .internet-error .warning-message-text span {
    &:nth-child(1)::before {
      content: "Kesalahan koneksi jaringan" !important;
    }
    &:nth-child(2)::before {
      content: "silakan coba lagi nanti" !important;
    }
  }

  /** Count Down Plugin **/
  .current-location-pwave-text:before {
    content: "Gelombang P" !important;
  }

  .current-location-swave-text:before {
    content: "Gelombang S" !important;
  }

  .current-location-pwave-val.arrive:before,
  .current-location-swave-val.arrive:before {
    content: "Kedatangan" !important;
  }

  .current-location-pwave-val:not(:empty):after,
  .current-location-swave-val:not(:empty):after {
    content: "Detik" !important;
  }

  .current-location-intensity-text:before {
    content: "Intensitas" !important;
  }
}
