@media (max-width: 980px) {
  html[lang="id-ID"] .info-intensity::after {
    content: "Est. maximum" !important;
  }

  html[lang="id-ID"] .report-box-item-wrapper:first-child .report-intensity-text {
    font-size: 11px !important;
  }

  html[lang="id-ID"] .report-intensity-val {
    height: 40px !important;
    width: 43px !important;
  }

  html[lang="id-ID"] .current-station-info {
    width: 145px !important;
  }

  html[lang="id-ID"] .current-station-pga {
    width: 190px !important;
  }

  html[lang="id-ID"] .max-intensity {
    width: 76px;
  }

  html[lang="id-ID"] .report-wrapper.hidden~.rts-intensity-list-wrapper {
    transform: translateX(130%) !important;
  }

  html[lang="id-ID"] .report-box-item-wrapper.survey:first-child .report-loc {
    font-size: 19px !important;
  }
}