html[lang="id-ID"] {
  @media (max-width: 980px) {
    .info-intensity::after {
      content: "Est. maximum" !important;
    }
    .report-box-item-wrapper:first-child {
      .report-intensity-text {
        font-size: 11px !important;
      }
    }
    .report-intensity-val {
      height: 40px !important;
      width: 43px !important;
    }
    .current-station-info {
      width: 145px !important;
    }
    .current-station-pga {
      width: 190px !important;
    }
    .max-intensity {
      width: 76px;
    }
    .report-wrapper.hidden ~ .rts-intensity-list-wrapper {
      transform: translateX(93%) !important;
    }
    .report-box-item-wrapper.survey:first-child {
      .report-loc {
        font-size: 19px !important;
      }
    }
  }
}
