html[lang="zh-CN"] .visual-editor-title:before {
  content: "视觉化编译" !important;
}

html[lang="zh-CN"] .btn-remove:before {
  content: "删除" !important;
}

html[lang="zh-CN"] .btn-add:before {
  content: "添加物件" !important;
}

html[lang="zh-CN"] .root::before {
  content: "添加根级栏位" !important;
}

html[lang="zh-CN"] .json-error:before {
  content: "JSON 格式错误" !important;
}

html[lang="zh-CN"] .yaml-transfer-error:before {
  content: "YAML 转换错误" !important;
}

html[lang="zh-CN"] .yaml-extract-error:before {
  content: "YAML 解析错误" !important;
}

html[lang="zh-CN"] .auto-save-success:before {
  content: "自动保存成功" !important;
}

html[lang="zh-CN"] .auto-save-error:before {
  content: "自动保存失败" !important;
}

html[lang="zh-CN"] .load-error:before {
  content: "读取失败" !important;
}