@import url("./rwd.css");

html[lang="ko-KR"] {
  .version-check-text::before {
    content: "새 버전" !important;
  }

  .info-number {
    &:not(:empty)::before {
      content: "#" !important;
    }
    &:not(:empty)::after {
      content: "" !important;
    }
  }

  .cancel-title span::before {
    content: "취소" !important;
  }

  .cancel-body span::before {
    content: "지진 경보가 해제되었습니다." !important;
  }

  .no-eew.rts-trigger-low .info-unit::after {
    content: "낮음 " !important;
  }

  .no-eew.rts-trigger-middle .info-unit::after {
    content: "지진에 취약한 대응 " !important;
  }

  .no-eew.rts-trigger-high .info-unit::after {
    content: "강력한 지진 감지 " !important;
  }

  .eew-cancel .info-unit::before {
    content: "취소 " !important;
  }

  .eew-warn .info-unit::before {
    content: "경고 " !important;
  }

  .eew-alert .info-unit::before {
    content: "경고 알림 " !important;
  }

  .eew-rts .info-unit::before {
    content: "단일 지점 지진 감지 " !important;
  }

  .info-cancel-last::after {
    content: "(취소)" !important;
  }

  .info-number-last::after {
    content: "(최종)" !important;
  }

  .no-eew .info-unit::after {
    content: "지진 경보 없음" !important;
  }

  .info-intensity::after {
    content: "최대 강도 추정" !important;
  }

  .info-nsspe span::before {
    content: "NSSPE" !important;
  }

  .info-mag-text::after,
  .report-box-item-wrapper:first-child .report-mag-text::after {
    content: "크기" !important;
  }

  .info-depth-text::after,
  .report-depth-text::after {
    content: "깊이" !important;
  }

  .current-station-intensity-text::before {
    content: "강도" !important;
  }
  .current-station-pga-text::before {
    content: "PGA" !important;
  }

  .intensity-report::before {
    content: "강도 보고서" !important;
  }

  .source-report::before {
    content: "지진 진원지 보고서" !important;
  }

  .earthquake-report::before {
    content: "지진 보고서" !important;
  }

  .tsunami-warning::before {
    content: "쓰나미 경보" !important;
  }

  .earthquake-warning::before {
    content: "지진 경보" !important;
  }

  .report-intensity-text::before {
    content: "최대 강도" !important;
  }

  .web-detection::before {
    content: "탐지" !important;
  }

  .web-report::before {
    content: "신고" !important;
  }

  .report-replay::before {
    content: "재생" !important;
  }

  .report-box-items .survey .report-loc:before {
    content: "평가 중인 에픽센터" !important;
  }

  .rts-intenisty-list-text::before {
    content: "진도별 강도 순위" !important;
  }

  .max-intensity-text::before {
    content: "최대 강도" !important;
  }

  .max-pga-text::before {
    content: "최대 PGA" !important;
  }

  .internet-error .title:before {
    content: "네트워크 연결 오류" !important;
  }

  .unstable .title:before {
    content: "불안정" !important;
  }

  .unstable .warning-message-text span {
    &:nth-child(1)::before {
      content: "지진 활동으로 인해 관측" !important;
    }
    &:nth-child(2)::before {
      content: "지점이 불안정할 수 있습니다" !important;
    }
  }

  .internet-error .warning-message-text span {
    &:nth-child(1)::before {
      content: "네트워크 연결 오류가 발생했습니다" !important;
    }
    &:nth-child(2)::before {
      content: "나중에 다시 시도하세요." !important;
    }
  }

  .report-wrapper {
    & .report-box-item-wrapper:first-child {
      .report-intensity-text {
        font-size: 12px;
      }
    }
  }

  .station-pga-wrapper {
    left: 6.9rem;
  }

  .info-wrapper {
    & .info-title-wrapper {
      .info-intensity {
        font-size: 10px;
      }
    }
  }

  .report-wrapper {
    & .report-box-item-wrapper:first-child {
      & .report-info-box {
        & .report-info-item {
          .report-loc {
            font-size: 24px;
          }
        }
      }
    }
  }

  .intensity-0:not(
      #max-intensity,
      #max-pga,
      #current-station-intensity,
      .rts-intensity
    )::after {
    content: "?";
  }

  .info-time::after {
    content: "에 발생";
  }

  .current-location-pwave-text:before {
    content: "P 웨이브" !important;
  }

  .current-location-swave-text:before {
    content: "S 웨이브" !important;
  }

  .current-location-pwave-val.arrive:before,
  .current-location-swave-val.arrive:before {
    content: "도착" !important;
  }

  .current-location-pwave-sec-text:before,
  .current-location-swave-sec-text:before {
    content: "초" !important;
  }

  .current-location-count-down {
    max-height: unset !important;
    width: auto !important;
    height: auto !important;
  }

  .current-location-pwave-box,
  .current-location-swave-box {
    width: auto !important;
  }

  .current-location-pswave {
    height: 50px !important;
    display: flex !important;
    flex-direction: column !important;
    margin-top: 5px !important;
    gap: 2px !important;
  }

  .rts-intensity-list-wrapper {
    min-width: 200px;
  }
}
