@import url("./rwd.css");

html[lang="ko-KR"] {
  .version-check-text::before {
    content: "새 버전";
  }

  .info-number {
    &:not(:empty)::before {
      content: "#";
    }
    &:not(:empty)::after {
      content: "";
    }
  }

  .cancel-title span::before {
    content: "취소";
  }

  .cancel-body span::before {
    content: "지진 경보가 해제되었습니다.";
  }

  .no-eew.rts-trigger-low .info-unit::after {
    content: "낮음 " !important;
  }

  .no-eew.rts-trigger-middle .info-unit::after {
    content: "지진에 취약한 대응 " !important;
  }

  .no-eew.rts-trigger-high .info-unit::after {
    content: "강력한 지진 감지 " !important;
  }

  .eew-warn .info-unit::before {
    content: "경고 ";
  }

  .eew-alert .info-unit::before {
    content: "경고 알림 ";
  }

  .eew-rts .info-unit::before {
    content: "단일 지점 지진 감지 ";
  }

  .info-number-last::after {
    content: "(최종)" !important;
  }

  .no-eew .info-unit::after {
    content: "지진 경보 없음";
  }

  .info-intensity::after {
    content: "최대 강도 추정";
  }

  .info-nsspe span::before {
    content: "NSSPE";
  }

  .info-mag-text::after,
  .report-box-item-wrapper:first-child .report-mag-text::after {
    content: "크기";
  }

  .info-depth-text::after,
  .report-depth-text::after {
    content: "깊이";
  }

  .current-station-intensity-text::before {
    content: "강도";
  }
  .current-station-pga-text::before {
    content: "PGA";
  }

  .intensity-report::before {
    content: "강도 보고서";
  }

  .source-report::before {
    content: "지진 진원지 보고서";
  }

  .earthquake-report::before {
    content: "지진 보고서";
  }

  .tsunami-warning::before {
    content: "쓰나미 경보";
  }

  .earthquake-warning::before {
    content: "지진 경보";
  }

  .report-intensity-text::before {
    content: "최대 강도";
  }

  .web-detection::before {
    content: "탐지";
  }

  .web-report::before {
    content: "신고";
  }

  .report-replay::before {
    content: "재생";
  }

  .report-box-items .survey .report-loc:before {
    content: "평가 중인 에픽센터";
  }

  .rts-intenisty-list-text::before {
    content: "진도별 강도 순위";
  }

  .max-intensity-text::before {
    content: "최대 강도";
  }

  .max-pga-text::before {
    content: "최대 PGA";
  }

  .internet-error .title:before {
    content: "네트워크 연결 오류";
  }

  .unstable .title:before {
    content: "불안정";
  }

  .unstable .warning-message-text span {
    &:nth-child(1)::before {
      content: "지진 활동으로 인해 관측";
    }
    &:nth-child(2)::before {
      content: "지점이 불안정할 수 있습니다";
    }
  }

  .internet-error .warning-message-text span {
    &:nth-child(1)::before {
      content: "네트워크 연결 오류가 발생했습니다";
    }
    &:nth-child(2)::before {
      content: "나중에 다시 시도하세요.";
    }
  }
}
