@import url("./rwd.css");

html[lang="vi-VN"] {
  .version-check-text::before {
    content: "Phiên bản mới" !important;
  }

  .info-number {
    &:not(:empty)::before {
      content: "#" !important;
    }
    &:not(:empty)::after {
      content: "" !important;
    }
  }

  .cancel-title span::before {
    content: "Hủy bỏ" !important;
  }

  .cancel-body span::before {
    content: "Cảnh báo động đất này đã được hủy bỏ." !important;
  }

  .no-eew.rts-trigger-low .info-unit::after {
    content: "Thấp " !important;
  }

  .no-eew.rts-trigger-middle .info-unit::after {
    content: "Phản ứng yếu của động đất " !important;
  }

  .no-eew.rts-trigger-high .info-unit::after {
    content: "Phát hiện động đất mạnh " !important;
  }

  .eew-cancel .info-unit::before {
    content: "Hủy bỏ " !important;
  }

  .eew-warn .info-unit::before {
    content: "Cảnh báo " !important;
  }

  .eew-alert .info-unit::before {
    content: "Cảnh báo cảnh báo " !important;
  }

  .eew-rts .info-unit::before {
    content: "Phát hiện động đất một điểm " !important;
  }

  .info-cancel-last::after {
    content: "(Hủy bỏ)" !important;
  }

  .info-number-last::after {
    content: "(Cuối cùng)" !important;
  }

  .no-eew .info-unit::after {
    content: "Không có cảnh báo động đất hiện tại" !important;
  }

  .info-intensity::after {
    content: "Ước tính cường độ tối đa" !important;
  }

  .info-nsspe span::before {
    content: "NSSPE" !important;
  }

  .info-mag-text::after,
  .report-box-item-wrapper:first-child .report-mag-text::after {
    content: "kích cỡ" !important;
    width: 6.5rem;
    font-size: 20px;
  }

  .info-depth-text::after,
  .report-depth-text::after {
    content: "Độ sâu" !important;
    font-size: 20px;
  }

  .current-station-intensity-text::before {
    content: "Cường độ" !important;
  }
  .current-station-pga-text::before {
    content: "PGA" !important;
  }

  .intensity-report::before {
    content: "Báo cáo cường độ" !important;
  }

  .source-report::before {
    content: "Báo cáo tâm chấn động đất" !important;
  }

  .earthquake-report::before {
    content: "Báo cáo động đất" !important;
  }

  .tsunami-warning::before {
    content: "Cảnh báo sóng thần" !important;
  }

  .earthquake-warning::before {
    content: "Cảnh báo động đất" !important;
  }

  .report-intensity-text::before {
    content: "Cường độ tối đa" !important;
  }

  .web-detection::before {
    content: "Phát hiện" !important;
  }

  .web-report::before {
    content: "Báo cáo" !important;
  }

  .report-replay::before {
    content: "Phát lại" !important;
  }

  .report-box-items .survey .report-loc:before {
    content: "Tâm chấn đang được đánh giá" !important;
  }

  .rts-intenisty-list-text::before {
    content: "Xếp hạng cường độ theo địa chấn" !important;
  }

  .max-intensity-text::before {
    content: "Cường độ tối đa" !important;
  }

  .max-pga-text::before {
    content: "PGA tối đa" !important;
  }

  .internet-error .title:before {
    content: "Lỗi kết nối mạng" !important;
  }

  .unstable .title:before {
    content: "Không ổn định" !important;
  }

  .unstable .warning-message-text span {
    &:nth-child(1)::before {
      content: "Các điểm quan sát có thể không" !important;
    }
    &:nth-child(2)::before {
      content: "ổn định do hoạt động địa chấn" !important;
    }
  }

  .internet-error .warning-message-text span {
    &:nth-child(1)::before {
      content: "Lỗi kết nối mạng" !important;
    }
    &:nth-child(2)::before {
      content: "vui lòng thử lại sau" !important;
    }
  }

  .intensity-0:not(
      #max-intensity,
      #max-pga,
      #current-station-intensity,
      .rts-intensity
    )::after {
    content: "?";
  }

  .info-time::after {
    content: "";
  }

  .info-time::before {
    content: "Diễn ra vào ngày ";
  }

  .report-wrapper.hidden ~ .rts-intensity-list-wrapper {
    transform: translateX(135%);
  }

  .report-wrapper {
    & .report-box-item-wrapper:first-child {
      .report-intensity-text {
        font-size: 10px;
      }
    }
  }

  .station-pga-wrapper {
    left: 8rem;
  }
  .info-wrapper {
    & .info-title-wrapper {
      .info-intensity {
        font-size: 10px;
      }
    }
  }

  .report-wrapper {
    & .report-box-item-wrapper:first-child {
      & .report-info-box {
        & .report-info-item {
          .report-loc {
            font-size: 24px;
          }
        }
      }
    }
  }
  .current-station-pga {
    width: 206px;
  }

  .current-station-info {
    margin-right: -4px;
  }
  .current-station-loc {
    font-size: 15px;
  }
  .current-station-intensity-pga {
    font-size: 12px;
  }

  .current-location-pwave-text:before {
    content: "Sóng P" !important;
  }

  .current-location-swave-text:before {
    content: "Sóng S" !important;
  }

  .current-location-pwave-val.arrive:before,
  .current-location-swave-val.arrive:before {
    content: "Đến" !important;
  }

  .current-location-pwave-val:not(:empty):after,
  .current-location-swave-val:not(:empty):after {
    content: "giây" !important;
  }

  .current-location-intensity-text:before {
    content: "Cường độ" !important;
  }
}
