@import url("./rwd.css");

html[lang="en-US"] {
  /** Version Check **/
  .version-check-text::before {
    content: "New version" !important;
  }

  /** Info Box **/
  .info-number {
    &:not(:empty)::before {
      content: "#" !important;
    }
    &:not(:empty)::after {
      content: "" !important;
    }
  }

  .cancel-title span::before {
    content: "Cancel" !important;
  }

  .cancel-body span::before {
    content: "This earthquake warning canceled." !important;
  }

  .no-eew.rts-trigger-low .info-unit::after {
    content: "Low " !important;
  }

  .no-eew.rts-trigger-middle .info-unit::after {
    content: "Earthquake weak response " !important;
  }

  .no-eew.rts-trigger-high .info-unit::after {
    content: "Strong earthquake detection " !important;
  }

  .eew-cancel .info-unit::before {
    content: "Cancel " !important;
  }

  .eew-warn .info-unit::before {
    content: "Warning " !important;
  }

  .eew-alert .info-unit::before {
    content: "Warning alert " !important;
  }

  .eew-rts .info-unit::before {
    content: "Single-Point earthquake detection " !important;
  }

  .info-cancel-last::after {
    content: "(Cancel)" !important;
  }

  .info-number-last::after {
    content: "(Final)" !important;
  }

  .no-eew .info-unit::after {
    content: "No earthquake warning" !important;
  }

  .info-intensity::after {
    content: "Est. maximum intensity" !important;
  }

  .info-nsspe span::before {
    content: "NSSPE" !important;
  }

  .info-mag-text::after,
  .report-box-item-wrapper:first-child .report-mag-text::after {
    content: "Mag." !important;
  }

  .info-depth-text::after,
  .report-depth-text::after {
    content: "Depth" !important;
  }

  .intensity-0:not(
      #max-intensity,
      #max-pga,
      #current-station-intensity,
      .rts-intensity
    )::after {
    content: "?";
  }

  .info-time::before {
    content: "Occurs on ";
  }

  .info-time::after {
    content: "";
  }

  .info-wrapper {
    .info-title-wrapper {
      .info-intensity {
        font-size: 10px;
      }
    }
  }

  /** Station Pga Info **/
  .current-station-intensity-text::before {
    content: "Intensity" !important;
  }
  .current-station-pga-text::before {
    content: "PGA" !important;
  }

  /** Fab Button **/
  .intensity-report::before {
    content: "Intensity report" !important;
  }

  .source-report::before {
    content: "Earthquake hypocenter report" !important;
  }

  .earthquake-report::before {
    content: "Earthquake report" !important;
  }

  .tsunami-warning::before {
    content: "Tsunami warning" !important;
  }

  .earthquake-warning::before {
    content: "Earthquake warning" !important;
  }

  /** Report **/
  .report-intensity-text::before {
    content: "Max Intensity" !important;
  }

  .web-detection::before {
    content: "Detection" !important;
  }

  .web-report::before {
    content: "Report" !important;
  }

  .report-replay::before {
    content: "Replay" !important;
  }

  .report-box-items .survey .report-loc:before {
    content: "Epicenter under assessment" !important;
  }

  .max-intensity-text::before {
    content: "Max Intensity" !important;
  }

  .max-pga-text::before {
    content: "Max PGA" !important;
  }

  .report-wrapper.hidden ~ .rts-intensity-list-wrapper {
    transform: translateX(144%);
  }

  .report-wrapper {
    .report-box-item-wrapper:first-child {
      .report-intensity-text {
        font-size: 12px;
      }
      .report-info-box {
        .report-info-item {
          .report-loc {
            font-size: 24px;
          }
        }
      }
    }
  }

  /** Intensity List **/
  .rts-intenisty-list-text::before {
    content: "Intensity ranking by seismicity" !important;
  }

  /** Warning Message Box **/
  .internet-error .title:before {
    content: "Network connection error" !important;
  }

  .unstable .title:before {
    content: "Unstable" !important;
  }

  .unstable .warning-message-text span {
    &:nth-child(1)::before {
      content: "Observation points may be" !important;
    }
    &:nth-child(2)::before {
      content: "unstable due to seismic activity" !important;
    }
  }

  .internet-error .warning-message-text span {
    &:nth-child(1)::before {
      content: "Network connection error" !important;
    }
    &:nth-child(2)::before {
      content: "please try again later" !important;
    }
  }

  .station-pga-wrapper {
    left: 7.1rem;
  }

  /** Count Down Plugin **/
  .current-location-pwave-text:before {
    content: "P Wave" !important;
  }

  .current-location-swave-text:before {
    content: "S Wave" !important;
  }

  .current-location-pwave-val.arrive:before,
  .current-location-swave-val.arrive:before {
    content: "Arrival" !important;
  }

  .current-location-pwave-val:not(:empty):after,
  .current-location-swave-val:not(:empty):after {
    content: "s" !important;
  }

  .current-location-intensity-text:before {
    content: "Intensity" !important;
  }
}
