@media (max-width: 980px) {
  html[lang="en-US"] .report-box-item-wrapper:first-child .report-intensity-text {
    font-size: 11px !important;
  }

  html[lang="en-US"] .report-intensity-val {
    height: 40px !important;
    width: 43px !important;
  }

  html[lang="en-US"] .current-station-info {
    width: 145px !important;
  }

  html[lang="en-US"] .current-station-pga {
    width: 190px !important;
  }

  html[lang="en-US"] .max-intensity {
    width: 76px;
  }

  html[lang="en-US"] .rts-intensity-list-wrapper {
    right: 17rem;
    min-width: 150px;
  }

  html[lang="en-US"] .report-wrapper.hidden~.rts-intensity-list-wrapper {
    transform: translateX(123%) !important;
    min-width: 218px;
  }

  html[lang="en-US"] .report-box-item-wrapper.survey:first-child .report-loc {
    font-size: 19px !important;
  }
}